Q1. Create a python program to sort the given list of tuples based on integer value using a
lambda function.

In [12]:
# List of tuples
list_of_tuple  = [(12, "Class 12"), (5, "Class 5"), (3, "Class 3"), (7, "Class 7"), (10, "Class 10")]
list_of_tuple2 = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

# Sort the list based on the integer value using lambda function
sorted_list = sorted(list_of_tuple, key=lambda x: x[0])
sorted_list2 = sorted(list_of_tuple2, key=lambda x: x[1])


# Print
print(sorted_list)
print(sorted_list2)

[(3, 'Class 3'), (5, 'Class 5'), (7, 'Class 7'), (10, 'Class 10'), (12, 'Class 12')]
[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Square of all numbers
res1 = list(map(lambda x: x**2, l1))

# Print
print(res1)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions

Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [15]:
l2 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Converting into tuple of string
res2 = tuple(map(lambda x: str(x), l2))

# Print
print(res2)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

Q4. Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25.

In [21]:
from functools import reduce

l3 = [ x for x in range(1, 26)]

# Produce of all the numbers using recude function:
product = reduce(lambda x,y: x*y, l3)

# Print
print(l3)
print(product)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
15511210043330985984000000

Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function.

[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [22]:
l4 = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

# Filtering the numbers which is divisible by 2 and 3
result = list(filter(lambda x: x % 2 == 0 and x % 3 == 0, l4))

# Print
print(result)

[6, 60, 90, 120]

Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
function.

['python', 'php', 'aba', 'radar', 'level']

In [24]:
l5 = ['python', 'php', 'aba', 'radar', 'level']

# Finding the palindromes 
list_of_palindromes = list(filter(lambda x: x == x[::-1], l5))

# Print
print(list_of_palindromes)

['php', 'aba', 'radar', 'level']